{% extends  'layout.html' %}

{% block head %} 
    <style>
        body
        {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url({{ url_for('static', filename='images/bg3.png') }})
        }  
    </style>
{% endblock %}

{% block body %}

<div class="genpage">
    {% include 'header.html' %}
    <img class="book" src="/static/images/book.png">
    <p class="gen_poemLbl">Generated Poem</p>
    <p class='note'>Note: Make sure that there's no non-ASCII characters. The bigger the sample poetry is, the faster it generates</p>
    <form action="/generate" method="post">
        <textarea class="cont_area" id="text_file" name="text_file">{{ sample_text }}</textarea>
        <button type="submit" class="btn_generatepage">Generate Poetry</button>
    </form>
</div>

{% endblock %}


