{% block body %}
    <div>
        <img class="image_logo" src="/static/images/logo_circle.png">
        <div class="logo">
            Poetry Generator
        </div>
        <div class="menu">
            <a href="/home" class="link1">
                <div class="title">Home</div>
            </a>
            <a href="/about" class="link2">
                <div class="title">About</div>
            </a>
            <a href="/contact" class="link3">
                <div class="title">Contact</div>
            </a>
        </div>
    </div>
{% endblock %}