{% extends  'layout.html' %}


{% block head %} 
    <style>
        body
        {
            background-repeat: no-repeat;
            background-size: cover;
            background-image:url({{ url_for('static', filename='images/bg2.png') }})
        }  
    </style>
{% endblock %}

{% block body %} 
    {% include 'header.html' %}
    <p class="title_1">Shakespearean</p>
    <p class="title_2">Poetry Generator</p>
    <p class="desc">This poetry generator will randomly grab lines from Shakespeare's sonnets and poems to produce a completely new poem.</p>
    <button class="gen_btn" onclick="window.location.href ='/generate' ">Generate Poetry</button>
    <img class="book" src="/static/images/book.png">
{% endblock %}